/*---------------------------------------------------------------------------------------------------
  Webフォント
---------------------------------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p");
html {
  font-size: 62.5%;
}

body {
  font-family: "M PLUS 1p";
  font-size: 1.6rem;
}


header {
  padding: 3.0rem 0;
}

header h1 {
  text-align: center;
  font-size: 3.5rem;
}

#open.hidden, #close.hidden {
  display: none;
}

.container .content {
  display: none;
}

section {
  background: #fcc;
  padding: 5.0rem 2.0rem;
  border-radius: 0.8rem;
  margin: 0 0 2.5rem;
  display: block;
}

section h1 {
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
}

section p {
  font-size: 1.6rem;
  width: 100%;
  display: block;
}

footer P {
  font-size: 1.6rem;
  text-align: center;
}

/*---------------------------------------------------------
/////section内の挙動（基本的にflexだけど、スマートフォンとタブレットの際はblockの挙動にしたい）
----------------------------------------------------------*/

.container .content.active {
  display: flex;
}

.container section .column {
  display: block;
  width: 48%;
  background-color: #ccc;
}

/*----------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------------
  スマートフォン
---------------------------------------------------------------------------------------------------*/

@media screen and (max-width:767px) {

    /*----------------------------------------------------------*/

    /*---------------------------------------------------------
    /////モバイルでの表示がsectionの中は縦に並べるのでcblockにしておく。幅も変更
    ----------------------------------------------------------*/

  .container .content.active {
    display: block;
  }
  .container section .column {
    display: block;
    width: 100%;
  }

    /*----------------------------------------------------------*/
}

/*---------------------------------------------------------------------------------------------------
  タブレット
---------------------------------------------------------------------------------------------------*/

@media screen and ( max-width:1139px) {

  .container {
    width: 100%;
    padding: 2rem;
    background: #ccc;
  }

    /*----------------------------------------------------------*/

    /*---------------------------------------------------------
    /////ハンバーガーの設定
    ----------------------------------------------------------*/

    #mobile {
      position: fixed;
      top: 3rem;
      right: 3rem;
      display: block;
      height: 3rem;
      width: 3rem;
    }

    #open, #close {
      position: fixed;
      display: block;
      top: 3rem;
      right: 3rem;
      display: block;
      height: 4rem;
      width: 4rem;
      z-index: 100;
      cursor: pointer;
    }

    #close {
      background-color: #fff;
    }

    #menu.open {
      top: 0;
    }

    /*----------------------------------------------------------*/

    /*---------------------------------------------------------
    /////PC以外のメニュー周りの挙動
    ----------------------------------------------------------*/

    nav {
      width: 100%;
      display: block;
      background-color: #666;
      z-index: 5;
    }

    #menu {
      display: block;
      width: 100%;
      margin: auto;
      padding: 0;
      height: 0;
      position: fixed;
      top: -40rem;
      transition: .5s;
      z-index: 10;
    }

    #menu li {
      width: 100%;
      list-style: none;
    }

    #menu li a {
      background-color: #333;
      display: block;
      color: #fff;
      padding: 1.5rem;
      text-align: left;
      width: 100%;
      font-size: 1.6rem;
    }

    /*----------------------------------------------------------*/

    /*---------------------------------------------------------
    /////PC以外はメニュー展開時にメニュー以外の部分を「目隠し」する。それ以外は「目隠し」は消しておく。
    ----------------------------------------------------------*/

    #mask {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;

    }
    #mask.hidden {
      display: none;
    }

    /*----------------------------------------------------------*/

  }
  /*---------------------------------------------------------------------------------------------------
  パソコン
---------------------------------------------------------------------------------------------------*/

  @media screen and (min-width:1140px) {

    /*---------------------------------------------------------
    /////ナビゲーションの形状が変わるので、その形に変更する
    ----------------------------------------------------------*/

    nav {
      width: 100%;
      display: block;
      background-color: #666;
    }

    /*----------------------------------------------------------*/

    /*---------------------------------------------------------
    /////PC時のメニュー周りの設定
    ----------------------------------------------------------*/

    #menu {
      display: flex;
      width: 100rem;
      margin: auto;
      padding: 0;
    }

    #menu li {
      width: calc(100% /6);
      list-style: none;
    }

    #menu li a {
      background-color: #333;
      display: block;
      color: #fff;
      padding: 1.5rem;
      text-align: center;
      width: 100%;
      font-size: 1.6rem;
    }
    .container {
      width: 100rem;
      padding: 2rem;
      margin: auto;
      display: block;
    }

    /*----------------------------------------------------------*/

    /*---------------------------------------------------------
    /////モバイル・タブレット時に不要なものは消しておく
    ----------------------------------------------------------*/

    #open, #close {
      display: none;
    }

    #mask {
      display: none;
    }

    /*----------------------------------------------------------*/
  }
